@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --textcolor: #000;
    --bground-1: #ebebeb;
    --hovercolor: rgb(209, 202, 202);
    --scrollcolor: #000;
}
.dark-mode{
    --textcolor: #d8d8d8;
    --bground-1: #000;
    --scrollcolor: #ebebeb;

}
body{
    color: var(--textcolor);
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    font-weight: 600;
    background: var(--bground-1);
    animation: transitionIn 0.75s;
}
 /* animação ao body */
@keyframes transitionIn {
    
    from{
        opacity: 0;
        transform: translateY(-10px);
        /*transform: rotateX(-10deg);*/
    }

    to{
        opacity: 1;
        transform: translateY(0);
        /*transform: rotateX(0);*/
    }
}
/* Barra de rolagem */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollcolor);
    border-radius: 8px;
  }
header{
    width: 100%;
    height: 45px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}
header i{
    font-size: 18px;
}
header a:hover{
    color: var(--hovercolor);
    transition: 0.60s ease;
}
header .logo-name{
    color: var(--textcolor);
    text-decoration: none;
}
header .list-links #dark-mode{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
header .return{
    color: var(--textcolor);
}
/* menu mobile */
.hamburger{
    display: none;
    margin-left: 0.5em;
    line-height: 45px;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5em;
    background-color: var(--scrollcolor);
}
/* estilo slides*/
#sliders{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.swiper{
    width: 80%;
    height: 90vh;
    /*height: fit-content;*/
}
.swiper-slide img{
    max-width: 100%;
    height: auto;
}
.swiper .swiper-button-prev, 
.swiper .swiper-button-next{
    color: var(--hovercolor);
    margin: 0 30px;
}
.swiper .swiper-pagination-bullet-active{
    background: var(--hovercolor);
}
/* slide animation easeInOut-reverse */

.big-heading{
    font-size: 2.5em;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
}

/* second header */
.second-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
    padding: 15px 0;
}
.dropdown{
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.select{
    display: flex;
    align-items: center;
    justify-content: stretch;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
}
.select-clicked{
    border: 2px solid transparent;
    box-shadow: 0 0 0.8em transparent;

}
.caret{
    width: 0;
    height: 0;
    margin: 0 0.5em;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--textcolor);
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0.2em 0.5em;
    background: var(--bground-1);
    box-shadow: 0 0.5em 1em transparent;
    border-radius: 0.5em;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 999;
}
.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    cursor: pointer;
}
.menu li:hover{
    background: #61636860;   
}
.menu-open{
    display: block;
    opacity: 1;
}
.second-header ul{
    display: flex;
}
.second-header ul > li{
    list-style-type: none;
    margin-right: 20px;
}
.second-header a{
    color: var(--textcolor);
    transition: 0.3s ease;
}
/* discover */

#discover{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.albuns{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.album-photo{
    margin: 10px;
    width: 300px;
    height: 300px;
    display: block;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    overflow: hidden;
}
.album-photo a > span{
    margin: 10px 0 0 0;
}
.album-photo img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.album-photo img:hover{
    transform: scale(1.1);
}
/* icon hover effect */

.social-media i{
    font-size: 30px;
    font-weight: 600;
    color: var(--textcolor);
}
.social-media i:hover{
    color: var(--hovercolor);
    transition: 0.60s;
}
/* bio contato*/
#about, #contato{
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#about .container{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
#about .container .conteudo img{
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
}
#about .container .conteudo{
    width: 100%;
    height: 400px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#about .container .conteudo:not(:first-child){
    padding: 30px;
}
#contato{
    height: 400px;
}
.container .social-media{
    display: flex;
}
.container .social-media li{
    margin-right: 15px;
    padding: 10px;
    list-style: none;
    cursor: pointer;
}
.container ion-icon{
    color: var(--textcolor);
    font-size: 30px;
}
#carregando{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #000 url('../../vetor/icons/carregar.gif') no-repeat center center;
    background-size: 30%;
    overflow: hidden;
    z-index: 100;
}
/* orcamento */
#orcamento,
#contato{
    width: 100%;
    height: 100%;
    padding: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#orcamento .container,
#contato .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}
#orcamento .content-orcamento{
    text-transform: uppercase;
    display: flex;
}
.content-orcamento a{
    text-decoration: none;
    color: #000;
    text-align: center;
}
#orcamento .pres{
    width: 150px;
    height: 150px;
    margin: 2em 0.5em;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}
#orcamento .pres li{
    list-style: none;
}
#orcamento .pres img:hover{
    filter: blur(4px);
    transition: .30s;
}
#orcamento p{
    margin: 4em 0;
    text-align: center;
    width: 60%;
}
.scrolltop{
    outline: none;
    border: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    bottom: 70px;
    cursor: pointer;
    background: none;
    transition: all .4s ease;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}
.scrolltop.active{
    opacity: 1;
    visibility: visible;
}
.scrolltop i{
    font-size: 25px;
    color: var(--textcolor);
}
/* formulário envio orcamento */
form div{
    display: flex;
    flex-direction: column;
}
form div > input,
form select{
    border: none;
    border-radius: 0.3em;
    height: 2.5em;
    padding: 0 0.5em;
    outline: none;
}
form label{
    margin: 0.5em 0;
}
form button{
    border: 1px solid var(--textcolor);
    width: 12em;
    height: 2.5em;
    margin: 1.5em 0;
}
form button:hover{
    background: var(--hovercolor);
    transition: 0.60s;
}
footer{
    font-size: 14px;
    font-family: 'Fira Code', monospace;
    width: 100%;
    padding: 15px 50px;
}
.rodape a{
    color: var(--textcolor);
}
footer .rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
@media(max-width: 1000px){
    #discover{
        padding: 0;
    }
}
@media(max-width: 700px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active  .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active  .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        background: var(--bground-1);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 2.5em;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }
    .big-heading{
        font-size: 16px;
        text-align: center;
    }
    .swiper{
        width: 90%;
        height: 40vh;
    }
    .swiper-slide img{
        width: 100%;
        height: 100%;
    }
    .album-photo{
       width: 90%;
       height: 500px;
    }
    #about .container .conteudo:not(:first-child){
        padding: 15px 0;
    }
    #contato{
        height: auto;
    }
    .content img{
        width: 230px;
        height: 230px;
    }
    .container{
        flex-direction: column;
    }
 
    .social-media i{
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }
    #carregando{
        background-size: 10%;
    }
    #orcamento .content-orcamento{
        text-transform: uppercase;
        flex-direction: column;
    }
    #orcamento,
    #contato{
        height: auto;
    }
    #orcamento p{
        width: 100%;
    }
    footer .rodape{
        text-align: center;
        flex-direction: column;
    }
}
@media(max-width: 600px){
    .album-photo{
      width: 300px;
      height: 300px;
    }
}